<% title "Chargers - Commercial Chargers" %>
<% @chargers.each do |c| %>
	<p> <%= c.name%> </p>
	<p> <%= c.description %> </p>
	<p> <%= c.coordinates %> </p>
	<%= link_to 'View Charger', commercial_charger_path(:id => c.id) %>
	<br><br>
<% end %>