html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 500px;
}

#description li{
	display: inline;
	list-style-type: none;
}

#description li:after{
	content: '\A';
	white-space: pre;
}